body { font-family: sans-serif;
     padding: 20px; 
    background-image: url('./pokemon\ arena.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
    .error { 
        color: red;
     }
    .pokemon {
         margin-top: 20px; 
        }
    .pokemon img {
         width: 150px;
         }